:root {
    --env-color: #f08080;
    --env-dark: #d66d6d;
    --letter-bg: #ffffff;
    --btn-color: #d66d6d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fae1dd;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}

.envelope-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: var(--env-dark);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}

.letter {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    background: var(--letter-bg);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.6s ease-in-out, z-index 0.1s 0.3s;
    z-index: 2;
    text-align: center;
    text-align: arial, sans;
}

.envelope-front {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: var(--env-color);
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
}

.top-flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--env-color);
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out, z-index 0.2s;
    z-index: 4;
}

.envelope-wrapper.open .top-flap {
    transform: rotateX(180deg);
    z-index: 1; 
}

.envelope-wrapper.open .letter {
    transform: translate(-50%, -130px);
    z-index: 5; 
}


.music-btn {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(214, 109, 109, 0.3);
    transition: all 0.3s ease;
}

.music-btn:hover {
    background-color: #b34a4a;
    transform: scale(1.05);
}

.music-btn.playing {
    background-color: #4caf50; 
}

.instruction {
    color: #d66d6d;
    font-weight: bold;
}
